<div class="container">
  <h2>Team Info</h2>
  <form (ngSubmit)="submit()"#pitScoutForm="ngForm">
    <div class="form-group" id="start">
      <label for="teamNumber">Team Number</label>
      <input type="number" class="form-control" id="teamNum" required [(ngModel)]="model.teamNumber" name="teamNum">
      <label for="teamName">Team Name</label>

      <input type="text" class="form-control" id="teamName" required [(ngModel)]="model.teamName" name="teamName">
    </div>
    </form>
    <app-update class="mx-2 mt-2" style="max-width:66%;" [team]="model" [toUpdate]="false"></app-update>
</div>

