<div class="container">
  <h2>Team Info</h2>
  <form (ngSubmit)="submit(team)"#pitScoutForm="ngForm">
    <div class="form-group">
      <label for="driveType">Drivetrain</label>
      <select class="form-control" id="drivetrain" required [(ngModel)]="model.typeOfDrive" name="drivetrain">
        <option *ngFor="let type of driveTypes" [value]="type">{{type}}</option>
      </select>
      <label for="motorType">Type of Motor</label>
      <select class="form-control" id="motor" required [(ngModel)]="model.driveMotor" name="DriveMotor">
        <option *ngFor="let type of motorTypes" [value]="type">{{type}}</option>
      </select>
      <label for="numMotor">Number of Motors</label>
      <input type="number" class="form-control" id="numMotor" required [(ngModel)]="model.numOfDriveMotors" name="numOfDriveMotor">
      <label for="typeOfBot">Type of Robot</label>
      <select  id="robot" class="form-control" required [(ngModel)]="model.typeOfBot" name="robot">
        <option *ngFor="let type of botTypes" value="type">{{ type }}</option>
      </select>
      <label for="reach">Max Reach</label>
      <input type="number" class="form-control" required [(ngModel)]="model.maxReach" name="reach">
    </div>
    <h2>Game Info</h2>
    <div class="form-group container">
        <label for="gamePieceAffinity">Game Element Accuracy</label>
          <input type="number" class="form-control" required [(ngModel)]="model.gameElementAccuracy" name="accuracy">
        <label for="climbing">Climb Lvl</label>
          <input class="form-control" type="number" id="climblvl" required [(ngModel)]="model.climbLvl" name="climb">
    </div>



    <button type="submit" mdbBtn color="success" mdbWavesEffect>Submit</button>
    <button type="submit" mdbBtn color="default" mdbWavesEffect (click)="newTeam()">New Team</button>

    <div [*ngIf="submited"]class="alert-success">Submitted!</div>
  </form>
  {{diagnostic}}
</div>
